# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CodeList_05_01.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Administrator\Documents\Git_Book\YuSongMOMO\第五章\CodeList_05_01\.idea\.idea.CodeList_05_01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
