# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CodeList_04_10.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Administrator\Documents\Git_Book\YuSongMOMO\第四章\CodeList_04_10\.idea\.idea.CodeList_04_10\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
